body {
	background-color: #000050;
	padding: 10px;
	margin: 0;
	font-family: Helvetica;
	font-size: 16px;
}

h1, h2, h3, h4, h5 {
	font-family: Cambria;
}

h1 {
	font-size: 3em;
}

textarea {
	display: block;
	margin: 1em 0 2em 0;
	min-width: 800px;
	min-height: 200px;
	font-size: 1em;
}

.by-line {
	font-size: .5em;
	font-style: italic;
}

.container {
	max-width: 1000px;
	background-color: white;
	border-radius: 10px;
	margin: 0px auto;
	min-height: 100%;
	padding: 10px 30px;
}

button {
	background-color: #004400;
	color: white;
	font: inherit;
	min-width: 100px;
	min-height: 50px;
	border-style: none;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
}

#feedback-button {
	background-color: navy;
	min-height: 20px;
	display: block;
}

#results, #loading {
	display: none;
}

#results p {
	line-height: 1.35em;
	margin: 1.5em 0;
}

.suggestion {
	background-color: yellow;
	padding: .1em .2em;
}

.accepted {
	background-color: lightblue;
}

p img {
	height: 1em;
	cursor: pointer;
}

#feedback-submitted {
	display: none;
}

.question {
	margin-top: 15px;
	margin-bottom: 15px;
}

.warn {
	color: darkred;
	font-size: 1.5em;
	max-width: 1000px;
	background-color: orange;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
}